*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    padding: 10px;
    background-color: #BDBDBD;
    border: 4px outset #FFFFFF;
    box-shadow: 0px 1px 6px 0px #000000;
}
.content{
    border: 5px inset #FFFFFF;
}
/* definiamo la cella */
.cell{
    width: 100px;
    height: 100px;
    border: 5px outset #FFFFFF;
    background-color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text-content{
    font-size: 20px;
    padding: 5px;
}

.clicked{
    border: 1px solid #7E7E7E;
}
.bomb{
    border: 1px solid #7E7E7E;
    background-color: red;
    color: white;
}